body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(photos/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin:0;
    overflow: hidden;
}

.calculator {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.calculator h1 {
    color: white;
    font-size: 39px;
    text-align: center;
    font-weight: bold;
}


#display {
    width: 96%;
    height: 60px;
    font-size: 30px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: white;
    color: black;
    margin-bottom: 12px;
    box-shadow: inset 0 0 5px #ccc;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 90%;
    height: 80px;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    background: #eee;
    color: black;
}

button:hover {
    background: #ddd;
}


.gray {
    background: #ccc;
}

.lightblue {
    background: lightblue;
    color: white;
}

.zero {
    grid-column: span 2;
    border-radius: 30px;
}



@media (max-width: 480px) {
    .calculator {
        width: 90%;
        padding: 15px;
    }

    body {
        margin: 0;
        overflow: hidden;
    }

    #display {
        font-size: 24px;
        height: 50px;
    }

    button {
        font-size: 20px;
        height: 60px;
    }

    .calculator h1 {
        font-size: 38px;
    }
}